.index{
      background-color: #FAF3EA;


}

.we{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.D{
  font-family: "Domine", serif;
  text-align: center;
} 
.F{
    background-color:#FAF3EA ;
    margin-left: 375px;
}
.G {
    margin-top: -5px;
}

    .T{
    width: 350px;
    border-radius: 25px;
    margin-left: 40px;
}
    



.K{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.L{
   
  font-family: "Fugaz One", sans-serif;
  font-weight: 40px;
  font-style: normal;
  font-size: 50px;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-link:hover{
    transform: translateY(-5px);
    color: #F0B13B !important;
}
.redes{
    position: absolute;
    bottom: 40px;

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.redes a{
    font-size: 35px;
    color: black;
    transition: 0.3s;
}

.redes a:hover{
    color: rgb(234, 17, 234);
    transform: scale(1.2);
}
.spotify{
    position: fixed;
    bottom: 20px;
    right: 75px;
}
.Des{
  

    position: absolute;
    bottom: 75px;
    left: 75px;

    width: 500px;
    color: #555;
    font-size: 17px;
    line-height: 1.5;
    text-align: left !important;
 
}

.Des h3{
    text-align: center !important;
}
.Lis{
    position: absolute;
    bottom: 250px;
    left: 750px;

    width: 500px;
    color: #555;
    font-size: 17px;
    line-height: 1.5;
    text-align: left !important;
}
.Centro{
    position: absolute;
    top:  150px;
    left: 50%;

    transform: translateX(-50%);
}

.Centro img{
    width: 320px;
    border-radius: 20px;

    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}
.h2{
    font-family: 'Times New Roman', Times, serif; 
    position: absolute;
    left: 100px;
    top: 150px;
}
.Desi{
     position: absolute;
    bottom: 150px;
    left: 50px;

    width: 500px;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    text-align: left !important;
}
.Des h2{
    text-align: center !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #808080; 
  border-radius: 50%;        
}


.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(128, 128, 8, 0.3); 
  border-radius: 50%;
}


#carouselExampleFade {
  width: 900px;   
  height: 500px;  
  margin: auto;  
}
.home{
    width: 35px;
    margin-top: 45px;
}
#carouselExampleFade img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}



.carousel-control-prev {
  transform: translateX(-100px); 
}


.carousel-control-next {
  transform: translateX(100px);
}
.navbar2{
    margin-left: 650px;
}
.desi2{
     position: absolute;
    bottom: 150px;
    margin-left: 20px;

    width: 700px;
    color: #555;
    font-size: 15px;
    line-height: 1.5;
    text-align: left !important;
}
.desi h2{
    text-align: center !important;
}
.imagenes{
    position: relative;
    width: 100px;
    height: 300px;
}

.im1{
    width: 300px;
    position: absolute;
    left: 725px;
    top: 180px;
}

.im2{
    width: 300px;
    position: absolute;
    left: 800px;
    top: 300px;
}
.v1{
     position: absolute;
    right: 55px;
    top: 175px;
 
}
.imagenes2{
    position: relative;
    width: 100px;
    height: 300px;
}

.ima1{
    width: 500px;
    position: absolute;
    left :550px;
    top: 100px;
}

.ima2{
    width: 400px;
    position: absolute;
    left: 600px;
    top: 225px;
}
.v2{
     position: absolute;
    right: 15px;
    top: 275px;
 
}
.imf1{
    width: 400px;
    position: absolute;
    left :565px;
    top: 100px;
}

.imf2{
    width: 400px;
    position: absolute;
    left: 625px;
    top: 225px;
}
.v3{
     position: absolute;
    right: 50px;
    top: 150px;
 
}
.img1{
    width: 350px;
    position: absolute;
    left :565px;
    top: 50px;
}

.img2{
    width: 350px;
    position: absolute;
    left: 625px;
    top: 175px;
}
.v4{
     position: absolute;
    right: 30px;
    top: 200px;
 
}
.Desi3{
     position: absolute;
    bottom: 250px;
    left: 50px;

    width: 500px;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    text-align: left !important;
}
.Desi3 h2{
    text-align: center !important;
}

.imag1{
    width: 200px;
    position: absolute;
    left :565px;
    top: 50px;
}

.imag2{
    width: 350px;
    position: absolute;
    left: 700px;
    top: 200px;
}
.v5{
     position: absolute;
    right: 30px;
    top: 75px;
    }
.imh1{
width: 300px;
    position: absolute;
    left :565px;
    top: 60px;
}
.imh2{ width: 350px;
    position: absolute;
    left: 700px;
    top: 225px;


}
.imj1{
width: 200px;
    position: absolute;
    left :800px;
    top: 30px;
}
.imj2{
width: 200px;
    position: absolute;
    left : 1000px;
    top: 250px;
}
.imj3{
width: 200px;
    position: absolute;
    left :1150px;
    top: 30px;
}
.imj4{
width: 200px;
    position: absolute;
    left :675px;
    top: 250px;
}
.Desi5{
     position: absolute;
    bottom: 50px;
    left: 50px;

    width: 500px;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    text-align: left !important;
}
.Desi5 h2{
    text-align: center !important;
}
.imag6{
 width: 450px;
    position: absolute;
    left :565px;
    top: 50px;
}
.imag5{
 width: 500px;
    position: absolute;
    left :565px;
    top: 225px;
}
.Desi6{
     position: absolute;
    bottom: 225px;
    left: 40px;

    width: 500px;
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    text-align: left !important;
}
.Desi6 h2{
    text-align: center !important;
}
.image1{
    width: 300px;
    position: absolute;
    left :1000px;
    top: 20px;
}

.image2{
    width: 350px;
    position: absolute;
    left: 700px;
    top: 200px;
}
.image3{
    width: 350px;
    position: absolute;
    left: 550px;
    top: 50px;
}
.per{
 margin-top: 100px;
}
.pera{
    margin-top: 25px;
}
.peru{
    margin-top: 111px;
}
.peri{
    margin-top: 65px;
}
.pero{
    margin-top: 85px;
}



.info{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 375px;
    margin-left: 91px;
}

.info p{
    display: inline-block;
    padding: 10px 15px;
    background-color: #dbbd92;
    border-radius: 12px;
    font-size: 16px;
    width: auto;
    margin: 0;
}
.info p:hover{
    transform: translateX(10px);
}

.sobre-mi{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 300px;
}

.card-sobre{
    background-color: #f3eee7;
    width: 400px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
}

.card-sobre h2{
    font-size: 35px;
    margin-bottom: 40px;
    color: #1f232b;
}

.card-sobre p,
.card-sobre li{
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.card-sobre ul{
    padding-left: 20px;
}

.ca{
width: 300px;
    border-radius: 25px;
    margin-left: 1075px;
    margin-top: -300px;
}
.cursos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    margin-top: 40px;
}

.curso-card{
    background-color: #5FA777;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.curso-card:hover{
    transform: translateY(-5px);
}

.curso-card h2{
    font-size: 28px;
    color: #1d232f;
    margin-bottom: 15px;
}

.curso-card p{
    font-size: 17px;
    color: #e0dada;
    line-height: 1.6;
    margin-bottom: 10px;
}